/* MAIN begin*/
.main {
  margin: auto;
  font-family: sans-serif;
  line-height: 1.5;
}

.app_container {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  margin: auto -1rem 1rem;
}

.col {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
}
/* MAIN end*/

/* SIDEBAR begin*/
.sidebar {
  flex: 1 0 15%;
  border-radius: 0;
  border: 1px solid #666;
}

.sidebar__link {
  text-align: center;
  border-radius: 0;
  border: 1px solid #666;
  margin-top: 3%;
}

.sidebar__link > a {
  color: black;
  text-decoration: none;
}
/* SIDEBAR end*/


/* CARD begin*/
.card_container {
  display: flex;
  flex-wrap: wrap;
  /*flex-grow: inherit;*/
  /*justify-content: space-between;*/
}

.card {
  flex:1 0 15%;
  margin-top: 1%;
  margin-right: 1%;
  border: 1px solid #666;
  padding: 2%;
}

.card__header_labels {
  margin-bottom: 10%;
}

.card__header_element {
  margin-bottom: 1%;
}
/* CARD end*/

/* OTHER */
.other {
  flex: 6;
  border-radius: 0;
  border: 1px solid #666;
}